:host {
    display: block;
    height: 100%;
    border: 2px solid red;
    box-sizing: border-box;
    width: 1200px;
    padding: 67px;
}

:host #fruits > div {
    width: 100px;
    height: 100px;
}

:host #fruits > div img {
    width: 100%;
}