
html, body, .NotificationsApp {
    height: 100%;
    padding: 0;
    display: block;
    box-sizing:border-box;
    width: 600px;
    margin: auto;
}

.NotificationsApp{
    background: #fff;
}

.NotificationsApp #container{
    width: auto;
    height: 100%;
    align-items: center;
    padding: 20px 40px 0 40px;
}

.NotificationsApp #container #bottom-content{
    height: auto;
    font-family: 'Inter', sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.NotificationsApp #container #bottom-content notifications-toggle-switch{
    width: 40px !important;
    height: 20px !important;
}

.NotificationsApp #container #bottom-content notifications-toggle-switch div.knob{
    width: 20px !important;
    height: 20px !important;
}

.NotificationsApp #container #bottom-content notifications-toggle-switch span#nameSlot{
    font-size: 13px !important;
    margin:0 !important;
    left: 55px !important;
    width: max-content;
    top:2px !important;
}

.show{
    visibility: visible !important;
    opacity: 1 !important;
    /* transition: all .5s; */
}