:root {
  --pixel-size: 1;
}


:host {
  width: calc(64px * var(--pixel-size));
  height: calc(64px * var(--pixel-size));
  overflow: hidden;
  position: absolute;
  display: block;
  /* border: 2px solid red; */
  will-change: background-position,background-position-x, transform;
  background-image: url("/resources/images/universal-lpc-sprite_male_01_full.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/* :host .spritesheet {
  width: calc(832px * var(--pixel-size));
  position: absolute;
  image-rendering: pixelated;
  will-change: transform;
} */

:host.walking {
  animation: walking .7s steps(8) infinite;
}

:host.stretching {
  animation: stretching 4s steps(6) 2;
  animation-delay: 0s;
}

:host.stretching.down {
  background-position: 0px calc(-128px * var(--pixel-size));
}
:host.stretching.right {
  background-position: 0px calc(-192px * var(--pixel-size));
}
:host.stretching.up {
  background-position: 0px calc(0px * var(--pixel-size));
}
:host.stretching.left {
  background-position: 0px calc(-64px * var(--pixel-size));
}

:host.right{
  /* top: calc(-704px * var(--pixel-size)); */
  background-position: 0px calc(-704px * var(--pixel-size));
}
:host.up{
  /* top: calc(-512px * var(--pixel-size)); */
  background-position: 0px calc(-512px * var(--pixel-size));
}
:host.down{
  /* top: calc(-640px * var(--pixel-size)); */
  background-position: 0px calc(-640px * var(--pixel-size));
}
:host.left{
  /* top: calc(-576px * var(--pixel-size)); */
  background-position: 0px calc(-576px * var(--pixel-size));
}

@keyframes walking {
    to {
      background-position-x: -512px;
    }
}

@keyframes stretching {
  /* from {
      background-position:0px -128px;
   } */
  to {
    background-position-x: -384px;
  }
}

/* @keyframes walking {
  from {
     transform: translate3d(0px,0,0)
  }
  to {
     transform: translate3d(-576px,0,0)
  }
} */