dom-view {
    width:100%;
    display:block;
    min-height:200px;
    position:relative;
    border:1px solid gray;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, rgba(0,0,0,.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,.1) 1px, transparent 1px);
}

dom-view #canvas {
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-image: url(src/docs/components/DomView/axis_icon.png);
    background-size: 42px;
    background-repeat: no-repeat;
    background-position: right top;
}


dom-view #canvas slot {
    display: block;
    height: 100%;
}

dom-view #canvas slot > .WebComponent {
    position: absolute;
}



dom-view slot *{
  background-color: rgba(0, 0, 0, 0.22) !important;
  transform: translateZ(30px) scale(0.940);
  border:1px solid red;
  transform-style: preserve-3d;
  box-shadow: 6px 6px 3px -3px rgba(0,0,0,.5);
}