:host {
  height: 500px;
}

:host * {
  box-sizing: inherit;
}


:host > section > .help-text {
  padding: 10px 30px;
  font-size: 12px;
  background: #efefef;
}
:host > section > .help-text code {
  padding: 2px 5px;
  background: #d8d8d8;
  border-radius: 3px;
}

:host > section > .help-text > i{
  font-size: 24px;
    float: left;
    margin-right: 12px;
}