.Topic em {
	background:gold;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
}

.Topic em i {
    background: #a18dcc;
	color:white;
	padding: 0 4px;
	text-decoration: none;
	margin-left: -4px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.Topic table {
	width:100%;
}
.Topic h1{
	padding-top: 0 !important;
	padding:0 !important;
	font-size: 21px !important;
}

.Topic blockquote{
	line-height: 20px;
}

.Topic > div > div:nth-child(even) {
  background: rgba(0,0,0,.06);
}

.Topic .lang{
	display : none;
}

.Topic.javascript .lang.javascript{
	display : block;
}

.Topic.html .lang.html{
	display : block;
}

.Topic.css .lang.css{
	display : block;
}

.Topic.shell .lang.shell{
	display : block;
}

.Topic .inline.lang{
	padding: 0;
	display: block;
	width: 100%;
	margin-bottom: 8px;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 8px;
}