<template>
	<div class="outer-wrapper">
		<div class="inner-wrapper">
			<div class="top-tier">
				<h2 class="product_grid-title">Browse Products</h2>
	
				<a href="javascript:void(null);" class="show-more">
					Show more
				</a>
			</div>
	
			<div class="product-container">
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://images.unsplash.com/photo-1551816230-ef5deaed4a26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=75"
							class="product-img"
						/>
	
						<span class="product-sale">sale</span>
					</a>
	
					<div class="product-info">
						<a href="javascript:void(null);" class="product-title">Smart Watch</a>
	
						<div class="price-container">
							<span class="product-price">$150.00</span>
							<span class="previous-price">$249.00</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
	
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://images.unsplash.com/photo-1609061801093-1b7a8a574c69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=75"
							class="product-img"
						/>
					</a>
	
					<div class="product-info"> 
						<a href="javascript:void(null);" class="product-title">Exotic Plant</a>
	
						<div class="price-container">
							<span class="product-price">$21.00</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
	
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://images.unsplash.com/photo-1617036083087-ce31fac66b23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZHNsciUyMGNhbWVyYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=75"
							class="product-img"
						/>
					</a>
	
					<div class="product-info">
						<a href="javascript:void(null);" class="product-title">DSLR Camera</a>
	
						<div class="price-container">
							<span class="product-price">$599.99</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
	
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://images.unsplash.com/photo-1549298916-f52d724204b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=75"
							class="product-img"
						/>
					</a>
	
					<div class="product-info">
						<a href="javascript:void(null);" class="product-title">Rare Nike AF1's</a>
	
						<div class="price-container">
							<span class="product-price">$189.99</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
	
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://images.unsplash.com/photo-1541807084-5c52b6b3adef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=75"
							class="product-img"
						/>
					</a>
	
					<div class="product-info"> 
						<a href="javascript:void(null);" class="product-title">Macbook</a>
	
						<div class="price-container">
							<span class="product-price">$1199.99</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
	
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://media.istockphoto.com/photos/modern-computer-keyboard-for-gamers-with-neon-light-colorful-concept-picture-id1163494182?b=1&k=20&m=1163494182&s=170667a&w=0&h=5hYqPhl4GUepPb1tr0CVmrjUejRddbxes0IZdy6QWrk="
							class="product-img"
						/>
					</a>
	
					<div class="product-info">
						<a href="javascript:void(null);" class="product-title">Gaming Keyboard</a>
	
						<div class="price-container">
							<span class="product-price">$39.99</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
	
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://images.unsplash.com/photo-1580897275296-87979517bd4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=75"
							class="product-img"
						/>
						<span class="product-sale">sale</span>
					</a>
	
					<div class="product-info">
						<a href="javascript:void(null);" class="product-title">55' 4K OLED Television</a>
	
						<div class="price-container">
							<span class="product-price">$599.99</span>
							<span class="previous-price">$799.99</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
	
				<!-- product - start -->
				<div class="product">
					<a href="javascript:void(null);" class="product-link">
						<img
							src="https://images.unsplash.com/photo-1570698824041-22cbab696486?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=75"
							class="product-img"
						/>
					</a>
	
					<div class="product-info">
						<a href="javascript:void(null);" class="product-title">Piano Keyboard</a>
	
						<div class="price-container">
							<span class="product-price">$699.99</span>
						</div>
					</div>
				</div>
				<!-- product - end -->
			</div>
		</div>
	</div>
	
</template>