.FlyoutButton > div {
	display: inline-block;
	position: relative;
}
.FlyoutButton .flyout {
	visibility: hidden;
	opacity: 0;
	width: 150px;
	background: lightblue;
	padding: 4px;
	position: relative;
	margin-top: -8px;
	border-radius: 3px;
	position: absolute;
	transition: all .3s;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,.4);
}
.FlyoutButton .flyout ol,
.FlyoutButton .flyout ul {
	list-style: none;
	padding: 8px 0 8px 0;
	margin:0;
}

.FlyoutButton .flyout li {
	cursor: pointer;
	font-family: ProximaNova;
	font-size: 12px;
}
.FlyoutButton .flyout li:hover{
	background-color: white;
}

.FlyoutButton .flyout li {
	padding: 3px 11px;
}

.FlyoutButton .flyout::before {
    content: "";
    border-bottom: 15px solid lightblue;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -10px;
    left: 15px;
    z-index: 10;
    border-bottom: 15px solid lightblue;
}

.FlyoutButton.open .flyout {
	display: block;
	margin-top: 8px;
	opacity: 1;
	visibility: visible;
}

.FlyoutButton li .icon {
	width: 16px;
	height: 16px;
}

.FlyoutButton li {
	background-image:url($ROOT/src/./resources/images/checkmark.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 16px;
}

