<template>
	<main>
		<div class="container">
			<div class="screen-togo">
				<h2>To Go Menu</h2>
				<div class="menu-items">
					${
						this.items.map( item => 
								`<ui-components-food-product price="${item.price}" id="${item._id}">
									<div class="menu-item" slot="content">
										<img src="${item.img_src}" alt="${item.title}" class="menu-image" />
										<div class="menu-item-dets">
											<p class="menu-item-heading">${item.title}</p>
											<p class="g-price">${item.price}</p>
										</div>
									</div>
								</ui-components-food-product>`
						).join("")
					}
				</div>
				<div id="pagination-controls">
					<button id="prev-btn">Previous</button>
					<button id="next-btn">Next</button>
				</div>
			</div>
		</div>
	</main>
</template>