<template>
	<main>
		<!-- Start DEMO HTML (Use the following code into your project)-->
		<div class="container">
			<div class="screen-togo">
				<h2>To Go Menu</h2>
				<ul class="menu-items">
					${this.onFetchData()}
					<!--    Menu Item 1    -->
					<!-- <li id="french_fries" class="menu-item">
						<img src="../../../../resources/img/plate__french-fries.webp" alt="French Fries with Ketchup" class="menu-image" />
						<div class="menu-item-dets">
							<p class="menu-item-heading">French Fries with Ketchup</p>
							<p class="g-price">$2.23</p>
						</div>
						<button class="add-button" data-title="French Fries with Ketchup" data-price="2.23">Add to Cart</button>
					</li> -->
					<!--    Menu Item 2    -->
					<!-- <li id="salmon_veggies" class="menu-item">
						<img src="../../../../resources/img/plate__salmon-vegetables.webp" alt="Salmon and Vegetables" class="menu-image" />
						<div class="menu-item-dets">
							<p class="menu-item-heading">Salmon and Vegetables</p>
							<p class="g-price">$8.99</p>
						</div>
						<button class="add-button" data-title="Salmon and Vegetables" data-price="8.99">Add to Cart</button>
					</li> -->
					<!--    Menu Item 3    -->
					<!-- <li id="spaghetti" class="menu-item">
						<img src="../../../../resources/img/plate__spaghetti-meat-sauce.webp" alt="Spaghetti with Sauce" class="menu-image" />
						<div class="menu-item-dets">
							<p class="menu-item-heading">Spaghetti with Sauce</p>
							<p class="g-price">$7.89</p>
						</div>
						<button class="add-button" data-title="Spaghetti with Sauce" data-price="7.89">Add to Cart</button>
					</li> -->
					<!--    Menu Item 4    -->
					<!-- <li id="tortellini" class="menu-item">
						<img src="../../../../resources/img/plate__tortellini.webp" alt="Tortellini" class="menu-image" />
						<div class="menu-item-dets">
							<p class="menu-item-heading">Tortellini</p>
							<p class="g-price">$8.99</p>
						</div>
						<button class="add-button" data-title="Tortellini" data-price="8.99">Add to Cart</button>
					</li> -->
					<!--    Menu Item 5    -->
					<!-- <li id="chicken_salad" class="menu-item">
						<img src="../../../../resources/img/plate__chicken-salad.webp" alt="Chicken Salad" class="menu-image" />
						<div class="menu-item-dets">
							<p class="menu-item-heading">Chicken Salad</p>
							<p class="g-price">$5.75</p>
						</div>
						<button class="add-button" data-title="Chicken Salad" data-price="5.75">Add to Cart</button>
					</li> -->
				</ul>
			</div>
			<!-- <div class="screen-cart">
				<h2>Your Cart</h2>
				<ul class="cart-items"></ul>
	
				<div class="cart-math">
					<p>Add items to cart</p>
				</div>
			</div> -->
		</div>
		<!-- END EDMO HTML (Happy Coding!)-->
	</main>
</template>