
:host {
    background-image: url("../../../../resources/img/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

:host input.count{
    display: none;
}

:host #pagination-controls {
    display: flex;
    justify-content: space-between;
}

:host .screen-togo,
:host .screen-cart {
    overflow: scroll;
    border-radius: 25px;
    background: white;
    padding: 30px;
    margin: 20px;
}

