<template>
	<div>
		  <div id="side-bar" class="sidebar collapsed">
            <div id="panel_pane" class="pane" style="width: 100%;padding: 1px;"></div>
            <div style="border-left: 1px solid #3a3a3a;padding: 1px;color: white;font-size: 21px;width: 61px;">
              <ul class="tool-tray" id="tool-tray" style="list-style: none;padding: 0;display: flex;margin: 0;flex-direction: column;">
              </ul>
              <i id="toggle-explorer-btn" title="Home" class="toolbar-icon fa fa-cogs" disabled="true" style="height: 32px;position: absolute;bottom: 0;"></i>
            </div>
          </div>
	</div>
</template>