<template>
  <div class="container">
    <i id="move-left-btn"  class="fas fa fa-caret-left" ></i>
    <i id="move-right-btn" class="fas fa fa-caret-right"></i>
   

    <div id="carousel" class="no-backface-visibility" style="width:75px;">
        <div class="tile">
            <div class="item">
                <span class="photo" style="background-image:url(../../../src/core/ui/CoverFlow/images/p1.jpg);"></span>
                <div class="emp-info">
                    <div class="emp-name">Caterina</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="item">
                <span class="photo" style="background-image:url(../../../src/core/ui/CoverFlow/images/p2.jpeg);"></span>
                <div class="emp-info">
                    <div class="emp-name">Lotte</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="item">
                <span class="photo" style="background-image:url(../../../src/core/ui/CoverFlow/images/p6.jpg);"></span>
                <div class="emp-info">
                    <div class="emp-name">Rick Grimes</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="item">
                <span class="photo" style="background-image:url(../../../src/core/ui/CoverFlow/images/p5.jpg);"></span>
                <div class="emp-info">
                    <div class="emp-name">Pirate</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="item">
                <span class="photo" style="background-image:url(../../../src/core/ui/CoverFlow/images/p3.jpg);"></span>
                <div class="emp-info">
                    <div class="emp-name">Fenna</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="item">
                <span class="photo" style="background-image:url(../../../src/core/ui/CoverFlow/images/p4.jpg);"></span>
                <div class="emp-info">
                    <div class="emp-name">Mr. Starks</div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>