dom-tree-view {
    /*width:100%;
    display:block;
    position:relative;
    border:1px solid gray;*/
    width: 100%;

    display: block;

    position: relative;

    border: 1px solid gray;

    background: white;

    height: 300px;
    clear: both;
}

dom-tree-view #canvas {
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


dom-tree-view #canvas slot {
    display: block;
    height: 100%;
}



dom-tree-view #canvas slot {
  position: relative;
}
dom-tree-view #canvas slot * {
    box-sizing: border-box;

position: absolute;

display: block;

height: 2.5vw;

-webkit-transform: translateX(5%);

transform: translateX(5%);

font-size: .95em;

text-align: center;

line-height: 40px;

border: 1px solid transparent;

border-radius: 3px;

background: #999;

color: #fff;

-webkit-transition: all .3s;

transition: all .3s;

margin: 0;

margin-top: 24px;
  /*box-sizing: border-box;
  position: absolute;
  display: block;
  height: 2.5vw;

bottom: -4vw;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  font-size: .95em;
  text-align: center;
  line-height: 40px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: #999;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin:0;*/
}
dom-tree-view #canvas slot *:active,
dom-tree-view #canvas slot *:focus {
  background: #27f;
  border-color: black;
}
dom-tree-view #canvas slot *:hover::before {
  background: black;
}
dom-tree-view #canvas slot *::before {
  content: "";
  position: absolute;
  /*top: -4.5vw;*/
  top: -1.5vw;
  left: 50%;
  -webkit-transform: translate(-5%);
          transform: translate(-5%);
  width: 2px;
  /*height: calc(4.5vw - 1px);*/
  height: 24px;
  background: inherit;
}

@media (max-width: 500px) {
  dom-tree-view #canvas slot {
    width: 175%;
  }
  dom-tree-view #canvas slot * {
    height: 30px;
    bottom: -60px;
    line-height: 30px;
  }
  dom-tree-view #canvas slot *::before {
    top: -30px;
    height: 29px;
  }
}
@media (max-width: 300px) {
  dom-tree-view #canvas slot {
    width: 250%;
  }
}
