<template>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo" placeholder="What needs to be done?" autofocus>
        </header>
        <section class="main" style="display: none;">
            <input id="toggle-all" class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                ${
                    (this||[]).map(
                        item => 
                            `<todo-item>
                                <label slot="label">${item.title}</label>
                            </todo-item>`
                    ).join("")
                }
            </ul>
            <footer-nav></footer-nav>
        </section>
    </section>
</template>