
html {
	background-image : url('/resources/images/Ibuki-stage-bg.png');
	background-repeat:no-repeat;
	background-position:center bottom;
}

html,body,street-fighter {
	height: 100%;
	width: 100%;
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	display: block;
}

#floor{
	position: absolute;
	bottom: -9px;
	height: 40px;
	background: red;
	width: 100%;
}