.NamespaceExplorer {
	display:block;
    font-family: JetBrainsMono-Regular !important;
    text-align: center;
    margin: 50px 0;
}

.NamespaceExplorer [contenteditable]:focus {
    outline: 0px solid transparent;
}

.NamespaceExplorer #ns{
    color:#2b81f6;
}

.NamespaceExplorer #ns-brackets,
.NamespaceExplorer #class-brackets{
    border-left: 2px solid black;

    border-top: 2px solid black;

    border-right: 2px solid black;

    width: auto;

    display: block;

    height: 16px;

    padding-right: 21px;
    position: relative;
}
.NamespaceExplorer #ns-brackets::before {
    content: "Namespace";
    font-size: 14px;
    position: absolute;
    top: -30px;
    transform: translate3d(-50%,0%,0);
    text-align: center;
    left: 50%;
}
.NamespaceExplorer #class-brackets::before {
    content: "Class Name";
    font-size: 14px;
    position: absolute;
    top: -30px;
    transform: translate3d(-50%,0%,0);
    text-align: center;
    left: 50%;
}


.NamespaceExplorer #fqns-brackets{
    display: block;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 16px;
    position: relative;
}

.NamespaceExplorer #fqns-brackets::after {
    content: "Fully Qualified Namespace";
    font-size: 14px;
    position: absolute;
    top: 24px;
    transform: translate3d(-50%,0%,0);
    text-align: center;
    left: 50%;
}