:host {
  display: flex;
    flex-flow: column;
    background: white;
    border: 1px solid #cacaca;
    margin-bottom: 1px;
}

:host(.minimized) {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

:host(.minimized) > section,
:host(.minimized) > nav {
  display: none !important;
}

:host > .title {
  min-height: 40px;
    max-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #333333;
    padding: 0 5px 0 10px;
    color: white;
}

:host > nav {
  padding: 12px;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  color: #444;
  background: #edfdff;
}

:host > section {
  height: calc(100% - 40px);/*40px -> .title height*/
  display: flex;
  padding: 10px;
  overflow-y: auto;
  flex-flow: column;
  gap: 10px;
}

:host > .title i {
  padding: 10px 16px;
    display: flex;
    align-items: center;
    background: #3b3b3b;
    cursor: pointer;
    border-radius: 3px;
}

:host > .title i:hover {
  background: #4a4a4a;
}