.clients-section {
    background-color: transparent !important;
    padding-top: 26px;
}

.clients-section > img {
    width: 50%;
    margin-top: 5px;
}

.about-section {
	padding: 30px 0 !important
}


.navigation-header .navigation-brand .brand-logo{
	width: auto !important;
}

.navigation-header .navigation-brand .brand-logo .logo{
	background-image: url("../img/rhino-logo.png");
	font-size: 34px;
	padding-left: 70px;
	width: auto;
	display: block;
	background-size: contain;
}


.fixed-menu .navigation-header .navigation-brand .brand-logo .logo{
	display: block !important;
	filter: invert(100%);
}