
:host {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

:host .editor {
  height: 100%;
  padding: 20px;
  width: 100%;
}

/* :host #toolbar::part(list) {
  width: auto;
}

:host #toolbar li {
  padding: 8px;
} */

:host > tool-bar ul {
  border: 0;
}