
toggle-button-improved {
    width: 70px;
    height: 30px;
    display: block;
    background: lightgray;
    border-radius: 30px;
    box-sizing: content-box;
    padding: 3px;
}

toggle-button-improved.on {
    background: limegreen;
}

toggle-button-improved div {
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 30px;
    background: white;
    box-sizing: border-box;
    height: 100%;
    border-radius: 50%;
}

toggle-button-improved div {
    transform: translate3d(0px,0px,0px);
}



