
html, body,router-app {
    height: 100%;
    margin:0;
    display:block;
    padding:10px;
    box-sizing: border-box;
}

router-app slot[name="main"]{
	display:block;
	height:100%;
	border:1px solid red;
}