.NavBar .snip1490 {
    font-family: 'Roboto', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    background-color: #eee;
    display: inline-block;
    padding: 0;
    letter-spacing: 2px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  }
  
  .NavBar .snip1490 *,
  .NavBar .snip1490 *:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .NavBar .snip1490 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    position: relative;
    float: left;
  }
  
  .NavBar .snip1490 > li {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #b3b3b3;
  }
  
  .NavBar .snip1490 > li:first-of-type {
    border-left: none;
  }
  
  .NavBar .snip1490 > li:last-of-type {
    border-right: none;
  }
  
  .NavBar .snip1490 a {
    color: #000000;
    display: block;
    padding: 1.1em 2em 1.3em;
    position: relative;
    text-decoration: none;
  }
  
  .NavBar .snip1490 a:hover {
    color: #ffffff;
  }
  
  .NavBar .snip1490 > li:before,
  .NavBar .snip1490 > li:after {
    position: absolute;
    content: '';
  }
  
  .NavBar .snip1490 > li:before {
    background-color: #962d22;
    left: 0;
    right: 0;
    bottom: 100%;
    top: 0;
    opacity: 0;
  }
  
  .NavBar .snip1490 > li:after {
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 5px;
    background-color: #6d2018;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .NavBar .snip1490 ul {
    display: none;
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 5px 0;
    white-space: nowrap;
    font-size: 0.8em;
    background-color: #8e2a20;
    color: #ffffff;
    font-weight: 400;
  }
  
  .NavBar .snip1490 ul li {
    display: list-item;
    float: none;
    position: relative;
  }
  
  .NavBar .snip1490 ul li a {
    padding: 0.8em 1.2em;
    color: #ffffff;
    text-transform: none;
    opacity: 0.8;
  }
  
  .NavBar .snip1490 ul li a:hover {
    opacity: 1;
  }
  
  .NavBar .snip1490 li:hover > ul {
    display: inherit;
  }
  
  .NavBar .snip1490 li > a:after {
    content: ' \f3d0';
    font-family: "Ionicons";
  }
  
  .NavBar .snip1490 li > a:only-child:after {
    content: '';
  }
  
  .NavBar .snip1490 ul ul {
    background-color: #962d22;
    top: 0px;
    left: 100%;
    list-style: none;
    font-size: 1em;
  }
  
  .NavBar .snip1490 ul li > a:after {
    content: ' \f3d1';
  }
  
  .NavBar .snip1490 > li:hover > a,
  .NavBar .snip1490 > li.current > a {
    color: #fff;
  }
  
  .NavBar .snip1490 > li:hover:before,
  .NavBar .snip1490 > li.current:before {
    bottom: 0;
    opacity: 1;
  }