<template>
	<div>
		<ul class="snip1490">
			<li class="current"><a href="#">Home</a></li>
			<li><a href="#core.views.AboutView">About Us</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Services</a>
			<ul>
				<li><a href="#">Sample Sub Item 1</a></li>
				<li><a href="#">Sample Sub Item 2</a>
				<ul>
					<li><a href="#">Sample Sub Item 1</a></li>
					<li><a href="#">Sample Sub Item 2</a></li>
					<li><a href="#">Sample Sub Item 3</a></li>
				</ul>
				</li>
				<li><a href="#">Sample Sub Item 3</a></li>
			</ul>
			</li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</template>