<template>
	<div>
		<label for="test-modal" class="btn-primary modal-button">Open Modal</label>
		<input type="checkbox" id="test-modal" class="modal-toggle">
		<div class="modal">
			<div class="modal-box">
				<p>Enim dolorem dolorum omnis atque necessitatibus. Consequatur aut adipisci 
					qui iusto illo eaque. Consequatur repudiandae et. Nulla ea quasi eligendi. 
					Saepe velit autem minima.
				</p>
				<div class="modal-action">
					<label for="test-modal" class="btn-primary">Accept</label> 
					<label for="test-modal" class="btn-secondary">Close</label>
				</div>
			</div>
		</div> 
	</div>
</template>