html,body {
	-wekbit-touch-action: manipulation !important;
  	-ms-touch-action: manipulation !important;
  	touch-action: manipulation !important;
}

@keyframes yellowfade {
  from {
    background: yellow;
  }
  to {
    background: transparent;
  }
}

body.Application {
  overflow-x: hidden;
}

.Application .cover{
  background: transparent !important;
}

.Application #framework-container .page-sidebar > ul.menu {
  background-color: rgb(15, 73, 88) !important;
}


.Application .stage .framework-container {
  overflow: visible !important;
}

.slidein-container .slidein {
  width: 75% !important;
}

.pika-next {
    background-image: url('../../../resources/images/prev_next.png') !important;
}

.pika-prev {
    background-image: url('../../../resources/images/prev_arrow.png') !important;
}