a.active {
	background: yellow;
	color: tomato !important;
}

a.active span {
	color: black !important;
}

.active {
  animation: yellowfade 1.5s;
  animation-iteration-count: 3;
  animation-delay: .5s;
}


@keyframes yellowfade {
  from {
    background: yellow;
  }
  to {
    background: transparent;
  }
}