.toolbar-icon {
    line-height: 41px;
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
    min-width: 20px;
    color: gray;
}

.toolbar-icon:hover {
    border-color: #ccc;
    color: white;
    /* background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%); */
}

#controls {}

#location-form {
    margin-left: 12px;
    padding-left: 10px;
    ;
}

#controls input {
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 2px;
    border-left: 1px solid gray;
    padding: 0 14px;
    background-size: 90.69px 87.58px;
}