:host {
  height: 300px;
}

:host .ql-toolbar {
  height: 40px;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  background: #edfdff;
}

:host .ql-container {
  height: calc(100% - 40px);
  border: 1px solid transparent;
}


:host > section {
  padding: 0px;
}