.ExplorerPanel{
    display: block;
    color: white;
    border-bottom: 1px solid #3a3a3a;
}


.ExplorerPanel .title{
    padding: 10px 16px;
    color: #919191;
    background:#333333;
}

.ExplorerPanel .title .title-pane-icon {
    font-size: 14px;
    margin-left: 20px;
    margin-top: -4px;
    cursor:pointer;
}
.ExplorerPanel .title .title-pane-icon:hover{
    color:white;
}

.ExplorerPanel .title .icons-try{
    float:right;
}

.ExplorerPanel.collapsed{
    height: 36px;
    overflow: hidden;
}

.ExplorerPanel [role="treeitem"]:last-child {
    border-bottom:none;
}

.ExplorerPanel #files,
.ExplorerPanel .content-area{
    max-height: 200px;
    height: auto;
    overflow-y: scroll;
    padding:10px;
}
.ExplorerPanel #files > ul,
.ExplorerPanel .content-area > ul {
    margin:0;padding:0;
}