<!-- <template>
	<div>
		<h1>About Us</h1>
        <input type="text" id="input1" value="asdas"/>
        DIV:<span id="output"></span>
        <div>
            <button id="unwatch">Unwatch</button>
        </div>
	</div>
</template> -->

<template>
	<div>
		<section class="about">
			<h2 id="headerTxt" class="myH2 animated fadeInLeft">About Us Page</h2>
		</section>
		<div style="height: 1000px">
				<h2 class="myH2">Arc2D SPA Example</h2>
				<p class="myP">This is the About Us Page of our SPA Demo.</p>
		</div>
	</div>
</template>