<template>
    <div>
        <section class="about">
            <h2 id="headerTxt" class="myH2 animated fadeInLeft">About Screen<br/>
                <a preload href="#display.views.Blog" style="font-size: 26px;display: block;">Blog</a>
            </h2>
        </section>
        <div style="height: 1000px">
            <h2 class="myH2">About</h2>
            <p class="centerP">This About screen contains a link to a sub-view for Blog</p>
            <p class="myP">Go to the sub-view, <a preload href="#display.views.Blog">Blog</a>,
                which is not in the nav.
            </p>
        </div>
    </div>
</template>