<template>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <label>Multi Select</label>
    <input type="text"/>
    <ul>
        <!-- <li value="This Week"><input type="checkbox"/>This Week</li>
        <li value="Last Week"><input type="checkbox"/>Last Week</li>
        <li value="Last 30 Days"><input type="checkbox"/>Last 30 Days</li>
        <li value="Last 90 Days"><input type="checkbox"/>Last 90 Days</li>
        <li value="Last 180 Days"><input type="checkbox"/>Last 180 Days</li> -->
        <li><input type="checkbox" value="all"/>Select All</li>
        ${
            (this.items||[]).map(
                item => `<li value="${item.value||item.text}" class="${item.selected?'selected':''}">
                            <input type="checkbox" ${item.selected?'checked':''} /> ${item.text}
                        </li>`
            ).join("")
        }
    </ul>
    <i class="icon clear fa fa-times"></i>
    <i class="icon down fa fa-chevron-down"></i>
</template>