
:host li input {
    width: 30px;
    padding: 0;
    height: 20px;
    margin: 0;
    pointer-events: none;
    margin-right: 10px;
}
:host ul li.selected {
    background-color: white;
    color: #5e5a55;
}

:host ul li:hover {
    background: #deebff; 
}