html,body, :host {
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    display: block;
    overflow:hidden;
}

:host {
    display: block;
    position: absolute;
    transform: scale(1);
    image-rendering: pixelated;
    image-rendering:crisp-edges;
    transform-origin: left top;
    /* width:512px;
    height:512px; */
    overflow:hidden;
}

:host #fpscounter{
    z-index: 100000;position: absolute;margin: 10px;color: white;font-family: Verdana;
    top:0;
}
:host #fpspicker{
    z-index: 100;
    position: fixed;
    left: 0;
    top: 12px;
    color: white;
    margin: 11px;
    font-family: Verdana;
}

:host .world{
    will-change: transform;
    width: 100%;
    height: 100%;
}


.layer.Base {
    background-image:url(/resources/images/Base_bg.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
}

.layer.Ground .tile {
    background-image:url(/resources/maps/topdown/atlas_16x.png);
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    border:0px solid black;
    position:absolute;
    background-position:-512px;
}

.layer.Objects .tile {
    background-image:url(/resources/maps/topdown/atlas_16x.png);
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    border:0px solid black;
    position:absolute;
    background-position:-16px;
}

.layer.Houses .tile {
    background-image:url(/resources/maps/topdown/atlas_16x.png);
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    border:0px solid black;
    position:absolute;
    background-position:-16px;
}

.layer.Tree .tile {
    background-image:url(/resources/maps/topdown/tree.png);
    background-repeat: no-repeat;
    width:110px;
    height:128px;
    border:0px solid black;
    position:absolute;
    background-position:-16px;
}

