.TocMenu {
	overflow: auto;
    scrollbar-width: none;
}

.TocMenu::-webkit-scrollbar { display: none; }


.TocMenu ol > li > ol {
    display:none;
}

.TocMenu ol > li.active > ol {
    display:block;
}

.TocMenu ol > li > a.active {
	background:#d2cbe2;
}

/*.TocMenu ol > li > a.active + ol {
    display:block;
}*/

.TocMenu ol > li.disabled {
	opacity:.3;
	pointer-events:none;
}

.TocMenu .toc li.expand ol {
    max-height: 1000px !important;
}

nav.sidebar .toc > ol > li > ol > li > ol > li > ol > li > a {
    padding-left: 65px;
}

/*.TocMenu .toc li.active ol{
    display:block;
}*/