
html, body, .LipSync {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing:border-box;
}

.LipSync {
	
}


body {
background-color: #222; color: #eee; font-family: monospace;
text-align: center; padding: 2em; 
/*font-size: 2em;*/
width: 100vw; height: 100vh;
overflow: hidden;
margin: 0; padding: 0;
}

.nav {
position: absolute;
z-index: 999999;
top: 12px; left: 12px;
margin: 0; padding: 0;
}

.nav li {
list-style-type: none;
display: inline;}

.nav a {text-decoration: none; color: #eee;}


header {text-align: left;
position: absolute;
top: 0;
left: 0;
display: block;
}

#output {
text-align: left;
width: 100vw;
/*width: 300px;*/
min-height: 1em;
line-height: 1em;
display: block;
margin: 1em;
position: absolute;
top: 0px;
font-size: 2em;
}

#container button,
#controls button {background: transparent; border:none;
outline: 0; cursor: pointer; color: #eee;}
 
#controls button:focus, #controls button:hover {
  background: rgba(0,0,0,0.2) !important;
cursor: pointer;}
fieldset {border:none; outline: 0;}

#container {
display: block;
width: 100%;
position: fixed; top: 0; left: 0; display: block;
width: 100vw; height: 100vh; 
overflow: hidden; z-index: 1;
}

#container fieldset {
border: none; outline: none;
margin: 0; padding: 0;
}

#container #message { 
position: absolute;
bottom: 0;
border: 0; outline: none;
display: block; line-height: 40px; 
background-color: rgba(0,0,0,0.1);
width: 100vw;
color: #fff; 
font-size: 1em;
font-weight: lighter;
font-family: monospace; 
text-indent: 45px; 
}




#container #message:hover, #container #message:active
#container #message:focus, #container #message.active {
background-color: rgba(0,0,0,0.3);
}




#container #spkbut {
font-family: monospace;
position: absolute; bottom: 0; left:0;  
line-height: 40px; 
height: 40px; 
width: 40px; 
font-size: 80%;
z-index: 99;
}


#audiobtn {
position: absolute;
bottom: 0;
right:0;
width: 40px;
height: 40px;
z-index: 999;
/*background: transparent !important;*/
}


#audiobtn svg { 
display: block;
width: 40px;
height: 40px;
position: absolute;
transform: scale(0.7);
top:0;
left: 0;
}

#audiobtn svg.adon {display: none;} 

#audiobtn.on svg.adon {display: block;} 
#audiobtn.on svg.adoff {display: none;} 

#audiobtn:before {
content: 'audio off';
font-family: monospace;
display: block;
width: 100px;
height: 40px;
position: absolute;
bottom: 0px;
line-height: 40px;
left: -110px;
text-align: right;
animation: noteout 0.2s forwards ease-in-out;
animation-delay: 250ms;
transform-origin: bottom;
opacity: 0.4;
color: #eee;
}

#audiobtn.on:before {
content: 'audio on';
animation: notein 0.2s forwards ease-in-out;
animation-delay: 250ms;
}


@keyframes noteout {
0% { visibility: visible;}
100% {  
opacity: 0;
visibility: hidden;}
}

@keyframes notein {
0% { visibility: visible;}
100% { 
opacity: 0;
visibility: hidden;}
}


#settings {
display: block;
position: absolute;
top: 0;
right: 0;
padding: 20px;
z-index: 999;
top: 0;
background: #000;
}

#settings select,
#settings input {display: block;
margin-left: 30px; margin-top: 10px;}

#voices, #faces {
  position: relative;
  left: 12px;
  display: block;
}

#settings.off {
transform: translateX(100%);
visibility: hidden;
}

#pitch:before, #rate:before,
.select-wrapper:before, #bgcolour:before,
#brightness:before {
font-family: monospace;
position: absolute; 
left: 8px;
color: #eee;
opacity: 0.5;
font-size: 10px;
}

#pitch:before {content: 'pitch';}
#rate:before {content: 'rate'; }
#voices:before {content: 'voices'; }
#faces:before {content: 'faces';}
#bgcolour:before {content: 'colour';
line-height: 10px;
}
#brightness:before {content: 'light'}

.select-wrapper {
display: block;
position: relative;
left: -12px;
}

.select-wrapper:before {
content:"voices";
position: absolute;
top: 2px;
left: 0;
pointer-events: none;
}

.select-wrapper.faces:before {
content:"faces";
position: absolute;
top: 2px;
left: 0;
pointer-events: none;
}


#settingsbtn {
position: absolute;
top: 0;
right: 0;
display: block;     
width: 50px;
height: 50px;
transform-origin: center;
background: transparent;
outline: none;
border: none;
cursor: pointer;
z-index: 999;
}

#settingsbtn.on {background: #000 !important;}

#settingsbtn svg, #settings {transition: all 0.2s ease-in-out;}

#settingsbtn.on svg {transform: rotate(45deg);}



#botface {
display: block;
height: auto;
width: 70px;
height: 1em;
text-align: center; 
z-index: 999;
user-select: none;
font-family: monospace;
transform-origin: bottom;
position: absolute;
top: 0px;
left: 0px;
transform: scale(2);
}


#botface div {display: inline; }

#botmouth {
display: block;
margin: 0 auto;
width: 20px; height: 20px; 
line-height: 20px;
font-weight: lighter;
transform-origin: center;
transform: rotate(90deg); 
text-align: center;
position: absolute;
top: 0px;
left: 40%;
}


#botLeye, #botReye,
#botLside, #botRside {
position: absolute;
}

#botLeye {left: 12px;}
#botReye {right: 12px;}

#botLside {left: 0;}
#botRside {right: 0;}



#picker {
background: transparent !important;
display: block;
position: relative;
z-index: 1;
width: 400px;
position: absolute;
transform: translateX(-100%);
/*display: none;*/
transition: all 0.2s ease-in-out;
}

#picker.visible {
transform: translateX(0);
/*display: block;*/
}


#picker #col {
display: block;
width: 400px;
height: 400px;
}


#bgcolour {
display: block;
width: 40px; height: 40px;
border-radius: 40px;
border:#eee 1px solid;
margin-top: 10px;
margin-left: 30px;
cursor: pointer;
outline: none;
}

#bgcolour:hover {background: none;
border:#ccc 1px solid;
}

