<template>
  <%= `<b>${this.countries.length} countries</b>` %>
  <select>
      <%
          var list = this.countries;
          if (list.length >= 3) {
              return `<option value="0">Select from ${this.countries.length} Countries </option>`;
          } else {
              return `<option value="0">Select Country</option>`;
          }
      %>

      <template data-id="countries" data-update-event="countries:updated">
          <optgroup>
            <%
              return this.countries.map( country => 
                {
                  if(country.name === "United States") {
                    return `<option value="${country.name}" selected>${country.name}</option>`
                  }
                  else {
                    return `<option value="${country.name}">${country.name}</option>`
                  }
                }
              ).join("")
            %>
          </optgroup>
      </template>
  </select>
  <slot></slot>
</template>