html, body, .MainScreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing:border-box;
}

.MainScreen,
.MainScreen ul.navigation-bar:nth-child(1) li a,
.MainScreen .navigation-header .navigation-bar > li:not(.featured) > a{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600 !important;
    /* color:#fff; */
}

.MainScreen .navigation-header.white-header .navigation-bar > li:not(.featured) > a:not(:hover), 
.MainScreen .fixed-menu .navigation-header .navigation-bar > li:not(.featured) > a:not(:hover){
    color: #fff !important;
    font-weight: 600;
}

.MainScreen .fixed-menu .navigation-header .navigation-brand{
    margin-top: 5px !important;
}

.MainScreen .navigation-header .navigation-brand .brand-logo .logo{
    background-image: none !important;
}

.MainScreen .fixed-menu .navigation-header{
    background-image: url("resources/landing-assets/img/background/low_poly_background.jpg") !important;
    background-size: cover;
}

.MainScreen .heading-block > h1:nth-child(1),
.MainScreen .heading-block > h5:nth-child(2){
    letter-spacing: -1px !important;
}

.MainScreen .heading-block a.btn:nth-child(3),
.MainScreen .heading-block a.btn:nth-child(4){
    font-weight: 600;
}

.MainScreen .features-list-section article span.heading{
    text-transform: uppercase;
}

.MainScreen .features-list-section article p{
    color: #5b6264 !important;
    font-weight: 300 !important;
}

/* .MainScreen #first-tab-alt .section-content div:nth-of-type(1){
    margin-top: 40px;
} */

.MainScreen #newsletter .mailchimp-form div.form-group{
    display: flex;
}

/* Hidden Sections - Until Ready for Use */
.MainScreen #clients,
.MainScreen #guarantee,
.MainScreen #awards,
.MainScreen #feedback,
.MainScreen #feedback-controls,
.MainScreen ul.navigation-bar:nth-child(1) > li:nth-child(6),
.MainScreen ul.navigation-bar:nth-child(1) > li:nth-child(8),
.MainScreen li.dropdown:nth-child(9){
    display: none !important;
}

.MainScreen #chartdiv a[href='http://www.amcharts.com']{
    display: none !important;
}