:host {
    font-size: 21px;
    line-height: 28px;
    font-family: inherit;
}
:host, :host footer button, :host footer input {
    font-family: inherit;
}


:host section .fa-caret-down {
    display: block;
    position: absolute;
    right: 18px;
    bottom: 18px;
    animation: blink-animation .6s steps(5, start) infinite;
}

:host form {
    border: 1px solid black;
    border-radius: 3px;
    width: auto;
    min-width: 300px;
    max-width: 360px;
}
:host form > div {
    border: 2px solid #553c2c;
    border-radius: inherit;
}
:host form > div > div {
    border: 2px solid #d9a303;
    border-radius: inherit;
    background: #f4ff00;
}
:host form > div > div > div {
    border: 2px solid white;
    border-radius: 11px;
}

:host form > div > div > div > div {
    background: #00207f;
    padding: 10px;
    color: white;
    border: 2px solid #553c2c;
    border-radius: inherit;
}

:host footer {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: 20px;
}

.Modal .actions ul {
    float: unset;
    justify-content: center;
    align-content: center;
    padding: 5px;
    align-items: center;
}

:host .actions li {
    margin: 10px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
