<template style="border:1px solid red;">
	<form>
		<div>
			<div>
				<div>
					<div>
						<!-- <header class="form-header">
							<h3 id="project-name">Shinging Force Dialog</h3>
							<div class="close-button">
								<i class="fa fa-times-circle" style="color: #ff5a52;"></i>
								<i class="fa fa-minus-circle" style="color: #e5c02b;"></i>
								<i class="fa fa-question-circle" style="color: #52c22b;"></i>
							</div>
						</header> -->


						
						<section>
							The enemy's mages and archers attack best from affar. Charge them quickly.
							<i class="fas fa-caret-down"></i>
						</section>


						<footer class="actions">
							<ul role="menu">
								<li><button type="button" class="button" id="cancel-button">No</button></li>
								<li><input type="submit" class="button" value="Yes" id="create-button"/></li>
							</ul>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</form>
	
</template>