html, body, .MainScreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing:border-box;
}

.MainScreen #hero > div:nth-child(1){
    width: 100% !important;
}

.MainScreen,
.MainScreen ul.navigation-bar:nth-child(1) li a,
.MainScreen .navigation-header .navigation-bar > li:not(.featured) > a{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600 !important;
}

.MainScreen .navigation-header.white-header .navigation-bar > li:not(.featured) > a:not(:hover), 
.MainScreen .fixed-menu .navigation-header .navigation-bar > li:not(.featured) > a:not(:hover){
    color: #fff !important;
    font-weight: 600;
}

.MainScreen .fixed-menu .navigation-header .navigation-brand{
    margin-top: 5px !important;
}

.MainScreen .navigation-header .navigation-brand .brand-logo .logo{
    background-image: none !important;
}

.MainScreen .fixed-menu .navigation-header{
    background-image: url("resources/landing-assets/img/background/low_poly_background.jpg") !important;
    background-size: cover;
}

.MainScreen .heading-block > h1:nth-child(1),
.MainScreen .heading-block > h5:nth-child(2){
    letter-spacing: -1px !important;
}

.MainScreen .heading-block a.btn:nth-child(3),
.MainScreen .heading-block a.btn:nth-child(4){
    font-weight: 600;
}

.MainScreen article p:nth-of-type(1) {
  font-weight: 300;
  color: #5b5b5b;
  font-size: 24px;
}

.MainScreen article p:nth-of-type(2) {
  color: #5b5b5b;
  font-weight: 100;
}

.MainScreen article > h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.MainScreen .features-list-section article span.heading{
    text-transform: uppercase;
}

.MainScreen .features-list-section article p{
    color: #5b6264 !important;
    font-weight: 300 !important;
    font-size: 15px !important;
}

.MainScreen #newsletter .mailchimp-form div.form-group{
    display: flex;
}

.MainScreen #newsletter article > p {
  color: #fff !important;
  font-size: 16px !important;
}

.MainScreen #product .section-header p,
.MainScreen #team .section-header p {
  color: #5b5b5b;
  font-weight: 100;
}

/* Hidden Sections - Until Ready for Use */
.MainScreen #clients,
.MainScreen #guarantee,
.MainScreen #awards,
.MainScreen #feedback,
.MainScreen #feedback-controls,
.MainScreen ul.navigation-bar:nth-child(1) > li:nth-child(6),
.MainScreen ul.navigation-bar:nth-child(1) > li:nth-child(8),
.MainScreen li.dropdown:nth-child(9){
    display: none !important;
}

.MainScreen #chartdiv a[href='http://www.amcharts.com']{
    display: none !important;
}

.MainScreen #chartdiv tspan,
.MainScreen #chartdiv .amcharts-balloon-div > div {
    font-family: 'Poppins', sans-serif !important;
}

.MainScreen .sub-title, .MainScreen .sub-title.alt{
    color: #646161;
    font-size: 20px;
    line-height: 30px;
}

/* Pricing Table Section */
.MainScreen .package-column {
    background-color: #204c89;
    border-radius: 10px;
    box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.37);
    border: 0 !important;
}

.MainScreen .package-column .fa.fa-check {
    color: #1dee1d;
    font-weight: 700;
    font-size: 20px;
}

.MainScreen .package-column .fa.fa-times{
    color: #ff0101;
    font-size: 20px;
    font-weight: 700;
}

.MainScreen .package-column:hover {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(57, 107, 202, 0.95) 11%, rgb(62, 62, 155) 74%, rgba(79, 38, 135, 0.85) 100%);
}

.MainScreen .package-column .package-title {
    letter-spacing: 1.5px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    color: #fff !important;
}

.MainScreen .package-column .package-price {
    transition: background 0.1s ease-in-out !important;
    -webkit-transition: background 0.1s ease-in-out !important;
    -moz-transition: background 0.1s ease-in-out !important;
    -ms-transition: background 0.1s ease-in-out !important;
    -o-transition: background 0.1s ease-in-out !important;
    background: linear-gradient(0deg, rgba(19, 19, 19, 0.37) 0%, rgba(77, 73, 73, 0) 100%);
    color: #fbfbfb !important;
}

.MainScreen .package-column:hover > .package-price, .package-column.featured > .package-price {
    background: linear-gradient(0.80turn, rgba(180,10,25,0.8519607672170431) 0%, rgba(57, 107, 202, 0.95) 100%);
}

.MainScreen .package-column .package-price .price {
    font-size: 95px !important;
    font-weight: 200 !important;
    line-height: 85px !important;
    font-family: 'Poppins', sans-serif !important;
}

.MainScreen .package-column .package-price .period {
    margin-top: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}

.MainScreen .package-column .package-detail {
    padding: 10px 15% 50px !important;
}

.MainScreen .package-column .package-detail ul li {
    font-size: 18px !important;
    border-bottom: 1px solid #dadada57 !important;
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0.5px !important;
}

.MainScreen .package-column .package-detail a {
    border: 0 !important;
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    letter-spacing: 0.3px !important;
    background-color: #aa1515 !important;
}

.MainScreen .package-column .package-detail a:hover {
    background-color: white !important;
    color: #1c3a64 !important;
    font-weight: 600;
}

@media screen and (min-width:400px) and (max-width:991px){
    .MainScreen .package-column .package-detail {
        height: 100% !important;
    }
}

@media screen and (min-width:768px) and (max-width:1199px){
    .MainScreen .package-column .package-detail {
        height: 100% !important;
    }

    .MainScreen .package-column .package-title {
        font-size: 20px !important;
    }

    .MainScreen .package-column .package-price {
        padding: 0 !important;
    }

    .MainScreen .package-column .package-price .price {
        font-size: 50px !important;
    }

    .MainScreen .package-column .package-price .currency {
        font-size: 22px !important;
    }

    .MainScreen .package-column .package-price .period {
        margin-top: 0px !important;
        padding-bottom: 10px;
        font-size: 12px !important;
    }

    .MainScreen .package-column .package-detail ul li {
        font-size: 12px !important;
        height: auto !important;
        padding: 10px 0 !important;
    }

    .MainScreen .package-column .fa.fa-check,
    .MainScreen .package-column .fa.fa-times,
    .MainScreen .package-column .package-detail a{
        font-size: 12px !important;
    }
}