html {
    scrollbar-width: thin;
    scrollbar-color: #1ac6ff #fff;
}

html, body, .MainScreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing:border-box;
}

:root {
    --poppins-font-family: 'Poppins', sans-serif;
}

.MainScreen .back-to-top {
    border-radius: 50%;
}

.MainScreen .back-to-top:hover i {
    color: #1ac6ff;
}

.MainScreen .section-header > h2,
.MainScreen #newsletter article,
.MainScreen #product div.section-header,
.MainScreen .team-member,
.MainScreen .footer-content.row div:nth-of-type(1) p,
.MainScreen .footer-content.row div:nth-of-type(2),
.MainScreen .footer-content.row div:nth-of-type(3),
.MainScreen .col-md-3.col-sm-6.col-xs-12.core p span{
    font-family: var(--poppins-font-family);
}

.MainScreen #cross-platform-header {
    font-size: clamp(1rem, 0.7857rem + 0.9524vw, 1.5rem);
    color: rgb(87, 85, 85);
}

.MainScreen #sizeChart,
.MainScreen #loc-chart{
    will-change: auto;
}

.MainScreen #about .heading {
    font-family: var(--poppins-font-family);
    color: #5b5b5b;
}

.MainScreen #arc-iphone {
    width: clamp(200px,100%,300px);
    margin: 50px auto 0 auto;
}

.MainScreen #arc-spa {
    margin: 50px auto 0 auto;
}

.MainScreen #features {
    margin-bottom:0 !important;
}

.MainScreen #features,
.MainScreen #features-list{
    background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgba(33,182,177,0.4) 60%, rgba(34, 145, 188, 0.4) 70%,rgba(95, 102, 183,0.3) 90%, rgb(240, 240, 240) 100%);
    -webkit-background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgba(33,182,177,0.4) 60%, rgba(34, 145, 188, 0.4) 70%,rgba(95, 102, 183,0.3) 90%, rgb(240, 240, 240) 100%);
}

.MainScreen .featured-tab li {
    vertical-align: text-top;
}

.MainScreen .featured-tab li > a .tab-desc{
    color: #555e68;
    font-weight: 400 !important;
    font-family: var(--poppins-font-family);
}

.MainScreen #features-list .animated{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 {
    min-height: 284px;
    max-height: 284px;
    box-shadow: 2px 1px 13px -5px rgba(0,0,0,.3);
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    border-radius: 5px;
    background: #fff;
    flex: 0 1 auto;
    margin: 5px,5px,5px,5px;
    width:100%;
}

.MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 article code {
    background: transparent;
}

.MainScreen #features-list .core.active article code {
    color: orange;
}

.MainScreen #features-list .core.active{
    background: #f7f7fb;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,.7) !important;
    background-image: url("resources/landing-assets/img/background/low_poly_background.webp") !important;
}

.MainScreen #features-list .core.active article,
.col-md-3.col-sm-6.col-xs-12.core.active span.heading,
.MainScreen #features-list .core.active article p {
    color: #fff !important;
}

.MainScreen .animation {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.MainScreen #hero > div:nth-child(1){
    width: 100% !important;
}

.MainScreen,
.MainScreen ul.navigation-bar:nth-child(1) li a,
.MainScreen .navigation-header .navigation-bar > li:not(.featured) > a{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600 !important;
}

.MainScreen .navigation-header.white-header .navigation-bar > li:not(.featured) > a:not(:hover), 
.MainScreen .fixed-menu .navigation-header .navigation-bar > li:not(.featured) > a:not(:hover){
    color: #fff !important;
    font-weight: 600;
}

.MainScreen .fixed-menu .navigation-header .navigation-brand{
    margin-top: 5px !important;
}

.MainScreen .navigation-header .navigation-brand .brand-logo .logo{
    background-image: none !important;
}

.MainScreen .fixed-menu .navigation-header{
    background-image: url("resources/landing-assets/img/background/low_poly_background.webp") !important;
    background-size: cover;
}

.MainScreen .heading-block > h1:nth-child(1),
.MainScreen .heading-block > h5:nth-child(2){
    letter-spacing: -1px !important;
}

.MainScreen .heading-block a.btn:nth-child(3),
.MainScreen .heading-block a.btn:nth-child(4){
    font-weight: 600;
}

.MainScreen article p {
  font-weight: 300;
  color: #5b5b5b;
  font-size: clamp(1rem, 0.7857rem + 0.9524vw, 1.3rem);
  line-height: 30px;
}

.MainScreen #process div.section-content.row div:nth-of-type(4) article {
  text-align:left;
}

.MainScreen article > h3 {
  font-family: var(--poppins-font-family);
  font-weight: 400;
}

.MainScreen .features-list-section article span.heading{
    text-transform: uppercase;
    font-family: var(--poppins-font-family);
    font-weight: 400;
    color: #393535;
    font-size: 18px !important;
}

.MainScreen .features-list-section .highlight {
    margin: 0 !important;
}

.MainScreen .features-list-section article p{
    color: #5b6264 !important;
    font-weight: 300 !important;
    font-size: 14px !important;
}

.MainScreen .featured-tab .tab-content div img {
    image-rendering: -webkit-optimize-contrast;
    will-change: auto;
}

.MainScreen .col-md-3.col-sm-6.col-xs-12.core.active p span {
    color: orange !important;
}

.MainScreen #newsletter {
    font-family: var(--poppins-font-family);
}

.MainScreen .form.mailchimp-form.subscribe-form > div {
    flex-wrap: wrap;
    justify-content: center;
}

.MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(1),
.MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(2){
    flex: 0 1 auto;
    border-radius:3px;
}
.MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(3){
    margin-top: 10px;
    flex: 0 1 100%;
}

.MainScreen #newsletter .mailchimp-form div.form-group{
    display: flex;
}

.MainScreen #newsletter article > p {
  color: #fff !important;
  font-size: 16px !important;
}

.MainScreen #product .section-header p,
.MainScreen #team .section-header p {
    color: #5b5b5b;
    font-family: var(--poppins-font-family);
    font-weight: 400;
}

.MainScreen #product div.section-header p.sub-header{
    font-weight: 400 !important;
}

.MainScreen div.section-header.align-center{
    font-family: var(--poppins-font-family);
}

/* Hidden Sections - Until Ready for Use */
.MainScreen #guarantee,
.MainScreen #awards,
.MainScreen #feedback,
.MainScreen #feedback-controls,
.MainScreen ul.navigation-bar:nth-child(1) > li:nth-child(6),
.MainScreen ul.navigation-bar:nth-child(1) > li:nth-child(8),
.MainScreen li.dropdown:nth-child(9){
    display: none !important;
}

.MainScreen .sub-title, .MainScreen .sub-title.alt{
    line-height: 30px;
}

.MainScreen .list-inline.logos img {
    height: 52px;
    width:96.5px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 3px;
    background: white;
    box-shadow: 2px 1px 13px -5px rgba(0,0,0,.3);
    margin-top: 7px;
}

/* Pricing Table Section */

/*.MainScreen .package-column {
    background-color: #204c89;
    border-radius: 10px;
    box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.37);
    border: 0 !important;
}*/

.MainScreen .package-column {
    border:0 !important;
}

.MainScreen .package-column .fa.fa-check {
    color: #1dee1d;
    font-weight: 700;
    font-size: 20px;
}

.MainScreen .package-column .fa.fa-times{
    color: #ff0101;
    font-size: 20px;
    font-weight: 700;
}

.MainScreen .package-column:hover {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(57, 107, 202, 0.95) 11%, rgb(62, 62, 155) 74%, rgba(79, 38, 135, 0.85) 100%);
}

/*.MainScreen .package-column .package-price {
    transition: background 0.1s ease-in-out !important;
    -webkit-transition: background 0.1s ease-in-out !important;
    -moz-transition: background 0.1s ease-in-out !important;
    -ms-transition: background 0.1s ease-in-out !important;
    -o-transition: background 0.1s ease-in-out !important;
    background: linear-gradient(0deg, rgba(19, 19, 19, 0.37) 0%, rgba(77, 73, 73, 0) 100%);
    color: #fbfbfb !important;
}*/

.MainScreen .package-column:hover > .package-price, .package-column.featured > .package-price {
    background: linear-gradient(0.80turn, rgba(180,10,25,0.8519607672170431) 0%, rgba(57, 107, 202, 0.95) 100%);
}

.MainScreen .package-column .package-price .price {
    font-size: 95px !important;
    font-weight: 200 !important;
    line-height: 85px !important;
    font-family: var(--poppins-font-family) !important;
}

.MainScreen .package-column .package-price .period {
    margin-top: 20px !important;
    font-family: var(--poppins-font-family) !important;
    font-weight: 400 !important;
}

.MainScreen .package-column .package-detail {
    padding: 10px 15% 50px !important;
}

.MainScreen .package-column .package-detail ul li {
    font-size: 18px !important;
    border-bottom: 1px solid #dadada57 !important;
    font-family: var(--poppins-font-family) !important;
    letter-spacing: 0.5px !important;
}

.MainScreen .package-column .package-detail a {
    border: 0 !important;
    color: #fff !important;
    font-family: var(--poppins-font-family) !important;
    font-size: 16px !important;
    letter-spacing: 0.3px !important;
    background-color: #aa1515 !important;
}


.MainScreen a.active-link {
    background-color:#1ac6ff;
    color:white;
}

.MainScreen .featured-tab li > a .tab-desc {
    line-height: 1.6;
}

.MainScreen .package-column .package-detail a:hover {
    background-color: white !important;
    color: #1c3a64 !important;
    font-weight: 600;
}

.MainScreen .footer-content.row div:nth-of-type(1) p {
    font-weight: 400;
}

.MainScreen .team-member .position {
    color: #5b5b5b;
}

.MainScreen #team .section-content.row {
    display: flex;
    justify-content: center;
}

.MainScreen #contact-info #contact-email {
    font-weight: 400;
    color: #fff;
}

.MainScreen #contact-info #contact-email:hover{
    color: #1ac6ff;
}

/* MEDIA QUERIES */

@media screen and (max-width:480px){
    .MainScreen .footer .social-wrap {
        height: auto !important;
    }

    .MainScreen #product div.container div:nth-of-type(2) div.col-sm-4:nth-of-type(3) {
        display:none;
    }
}

@media screen and (max-width:583px){
    .MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 {
        max-width:480px;
        margin: 0 0 10px 0;
    }
}

@media screen and (min-width: 584px) and (max-width:767px){
    .MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 {
        max-width:265px;
        margin: 5px;
    }
}

@media screen and (min-width:360px) and (max-width:767px){
    .MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(3){
        margin: 5px;
    }

    .MainScreen .form.mailchimp-form.subscribe-form > div input {
        max-width: 400px;
    }

    .MainScreen .newsletter-section .subscribe-form input {
        margin: 5px !important;
    }
}

@media screen and (max-width:767px){
    #second-tab-alt > div:nth-child(1) > div:nth-child(2){
        top:40px;
    }

    .MainScreen .navigation.navigation-header span.logo {
        display: inline-block !important;
    }

    .MainScreen .fixed-menu .navigation.navigation-header .navigation-toggle {
        top: 25px !important;
    }

    .MainScreen .footer .footer-title,
    .MainScreen .footer .list-inline {
        text-align: center !important;
    }

    .MainScreen .footer .list-inline li .icon {
        color: #fff;
    }

    .MainScreen #arc-iphone,
    .MainScreen #arc-spa {
        margin: 0 auto 0 auto;
    }

    
}

@media screen and (min-width:768px) {
    .MainScreen #third-tab-alt div:nth-of-type(4).col-sm-6.animated.fadeInRight{
        margin-top:75px;
    }

    .MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(1){
        margin-right: 5px;
    }

    .MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(3){
        max-width: 185px;
        margin: 0;
    }

    .MainScreen .footer .list-inline li .icon {
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(180deg, rgb(255, 255, 255) 50%,rgba(26, 198, 255, 0.7) 110%);
        -webkit-background: linear-gradient(180deg, rgb(255, 255, 255) 50%,rgba(26, 198, 255, 0.7) 110%);
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    .MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 {
        max-width:340px;
        margin: 5px;
    }

    .MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(1),
    .MainScreen .form.mailchimp-form.subscribe-form > div input:nth-of-type(2){
        max-width:185px;
    }
}

@media screen and (max-width:991px){
    .MainScreen .featured-tab li{
        border-bottom: none !important;
    }

    .MainScreen .package-column .package-detail {
        height: 100% !important;
    }

    .MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 article{
        transform: translateY(35px);
    }
}

@media screen and (min-width:768px) and (max-width:1199px){
    .MainScreen .package-column .package-detail {
        height: 100% !important;
    }

    .MainScreen .package-column .package-title {
        font-size: 20px !important;
    }

    .MainScreen .package-column .package-price {
        padding: 0 !important;
    }

    .MainScreen .package-column .package-price .price {
        font-size: 50px !important;
    }

    .MainScreen .package-column .package-price .currency {
        font-size: 22px !important;
    }

    .MainScreen .package-column .package-price .period {
        margin-top: 0px !important;
        padding-bottom: 10px;
        font-size: 12px !important;
    }

    .MainScreen .package-column .package-detail ul li {
        font-size: 12px !important;
        height: auto !important;
        padding: 10px 0 !important;
    }

    .MainScreen .package-column .fa.fa-check,
    .MainScreen .package-column .fa.fa-times,
    .MainScreen .package-column .package-detail a{
        font-size: 12px !important;
    }

    .MainScreen #team .section-content.row div.col-sm-3{
        width: 100%;
    }
}

@media screen and (min-width:992px) and (max-width:1199px){
    .MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 {
        max-width:265px;
        margin: 5px;
    }

    .MainScreen .featured-tab .tab-content div:nth-of-type(1) img,
    .MainScreen .featured-tab .tab-content div:nth-of-type(3) img {
        margin: auto;
        width:clamp(300px,100%,800px);
    }

    .MainScreen .featured-tab .tab-content div:nth-of-type(2) img{
        margin: auto;
        width:clamp(300px,100%,900px);
    }
}

@media screen and (max-width:1199px){
    .MainScreen .featured-tab li{
        border-bottom: none !important;
    }

    .MainScreen #home,
    .MainScreen #messages{
        margin-top: 10px;
    }

    .MainScreen .footer .list-inline li .icon {
        font-size:34px !important;
    }
}

@media screen and (min-width: 1200px) {
    .featured-tab .tab-content {
        top: -50px;
        right:-92px;
    }

    .MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 article{
        transform: translateY(35px);
    }

    .MainScreen #features-list .col-md-3.col-sm-6.col-xs-12 {
        max-width:360px;
        margin: 5px;
    }

    .MainScreen .featured-tab .tab-content #vce img {
        position: relative;
        right: 75px;
        top: 80px;
        max-width: 700px;
    }

    .MainScreen .featured-tab .tab-content #drivers img {
        position: relative;
        right: 50px;
        top: 80px;
        max-width: 800px;
    }

    .MainScreen .featured-tab .tab-content #namespaces img {
        position: relative;
        right: 75px;
        top: 80px;
        max-width: 700px;
    }

    .MainScreen .tab-info::after {
        position: absolute !important;
        bottom: 0 !important;
        right: 0 !important;
        display: block !important;
        width: 99% !important;
        content: '' !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
    }

    .MainScreen .form.mailchimp-form.subscribe-form > div input{
        max-width:185px;
    }
}