:host {
  display: block;
}

:host > ul li:hover {
  background: rgb(92 92 92);
}

:host > ul {
  list-style: none;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-flow: column;
    gap: 8px;
    width: inherit;
    height: 100%;
    border-right: 1px solid #757575;
    border-left: 1px solid #757575;
    background: #333333;
    overflow-y: auto;
    height: 100%;
    box-sizing: inherit;
}

:host > ul::-webkit-scrollbar {
  display: none;
}

:host > ul .drag-handle {
  text-align: center;
  color: #606060;
  cursor: ew-resize;
  font-size: 16px;
  background: radial-gradient(#424242, #66666600);
}

:host > ul li {
  text-align: center;
    padding: 4px;
    border: 1px solid #636262;
    border-radius: 2px;
    background: #4e4e4e;
    color: white;
    transition: all .2s;
    cursor: pointer;
}

:host > ul li.active {
  background: #32c9ff;
  border: 1px solid #05ffef;
  color: #ffffff;
  box-shadow: 0px 0px 9px -1px #37d2ff;
}

:host > ul li.disabled {
  opacity: .4;
  pointer-events: none;
  display: none;
}

:host > ul li i {
  align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 16px;
}

:host > ul li label {
  font-size: 10px;
    line-height: 12px;
    display: block;
    cursor: inherit;
}