:host {

}

:host * {
  box-sizing: inherit;
}

:host .branch {
  padding: 10px;
  background: #ececec;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

:host .branch .drag-handle {
  cursor: move;
}

:host .branch input {
  width: 100%;
  height: 40px;
  font-family: inherit;
  padding: 10px;
}

:host .branch input.index {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}


:host .branch.active {
  background: orange;
}

:host .branch .drag-handle {
  font-size: 18px;
  color: rgb(142 142 142);
}
:host .branch.active .drag-handle {
  color: white;
}

:host .branch.dragenter {
  background: gray;
}
:host .branch.dragenter * {
  pointer-events: none;
}