
html, body, :host {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.slot {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
  }
  .draggable {
    background-image: url("/src/ui/screens/DragDropApp/my-img.jpeg");
    width: 100%;
    height: 100%;
  }
  .invisible {
    opacity: 0;
    border: 3px solid red;
  }
  .hold {
    border: 3px solid red;
  }
  .hovered {
    background-color: black;
    border-color: rgb(32, 230, 32);
    border-style: dashed;
  }




