:host{}

:host .contact {
    width: 100%;
    height: 100vh;
    background-image: url("/resources/img/laptop-bg.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}