.TocMenu {
	overflow: auto;
}

.TocMenu ol > li > a.active {
	background:#d2cbe2;
}


.TocMenu ol > li.disabled {
	opacity:.3;
	pointer-events:none;
}

.TocMenu .toc li.expand ol {
    max-height: 1000px !important;
}