
html, body, .HelloDomNode {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing:border-box;
    overflow:hidden;
}

.HelloDomNode canvas,
.HelloDomNode #stage,
.HelloDomNode #svg{
	position:absolute;
    top:30px;
    left:100px;
    width:600px;
    height:350px;
    overflow: visible;
}
