<template>
        <div class="label">
            <div class="text">Menu</div><i class="line"></i>
        </div>
        <section>
            <button class="active">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <label>Inventory</label>
            </button>
            <button>
                <i class="fa-solid fa-book-open-reader"></i>
                <label>Mrc</label>
            </button>
            <button>
                <i class="fa-solid fa-star-half-stroke"></i>
                <label>Stats</label>
            </button>
            <button>
                <i class="fa-solid fa-triangle-exclamation"></i>
                <label>Warnings</label>
            </button>
            <button>
                <i class="fa-solid fa-gear"></i>
                <label>Settings</label>
            </button>
            <button>
                <i class="fa-solid fa-circle-question"></i>
                <label>Help</label>
            </button>
        </section>
    </div>
</template>