<template style="border:1px solid red;">
    <div id="overlay"></div>
        <form>
            <header class="form-header">
                <h3 id="project-name">Sample Dialog</h3>
                <div class="close-button">
                    <i class="fa fa-times-circle" style="color: #ff5a52;"></i>
                    <i class="fa fa-minus-circle" style="color: #e5c02b;"></i>
                    <i class="fa fa-question-circle" style="color: #52c22b;"></i>
                </div>
            </header>


            
            <section>
                <div class="row">
                    <div class="field">
                        <i class="fa fa-user-circle-o icon"></i>
                        <input id="first-name" validation-message="Your Firstname is Required" required="true" type="text" placeholder="First Name" class="form-control">
                        <label for="first-name">First Name</label>
                    </div>
                    <div class="field">
                        <i class="fa fa-user-circle-o icon"></i>
                        <input id="last-name" validation-message="Your Lastname is Required" required="true" type="text" placeholder="Last Name" class="form-control">
                        <label for="last-name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="full field">
                        <i class="fa fa-road icon"></i>
                        <input id="address" required="true" validation-message="Enter a Street Address" type="text" placeholder="Street Address" class="form-control">
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <select id="fav-color" required="true" validation-message="Choose a Color" class="form-control">
                            <option value="">Choose</option>
                            <option value="Red">Red</option>
                            <option value="Yellow">Yellow</option>
                            <option value="Blue">Blue</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>
                            <input id="register" type="checkbox"/> Register 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="full field">
                        <textarea placeholder="Delivery Instructions" class="form-control"></textarea>
                        <label>Delivery Instructions</label>
                    </div>
                </div>
                <div class="row" style="flex-direction: column;align-items: flex-start;">
                    <label style="margin-bottom: 10px;">
                        <input type="checkbox" id="add_to_tourguide"/> Receive Coupons
                    </label>
                    <label style="margin-bottom: 10px;">
                        <input type="checkbox" id="highlight_trigger"/> Specials
                    </label>
                    <label>
                        <input type="checkbox" id="track_clicks" checked="true"/> Bi-weekly Newsletter 
                    </label>
                </div>
            </section>


            <footer class="actions">
                <ul role="menu">
                    <li><button type="button" class="button" id="cancel-button">Cancel</button></li>
                    <li><input type="submit" class="button" value="Save" id="create-button"/></li>
                </ul>
            </footer>
        </form>
</template>