:host{
  background-image: url(${this.SKINPATH}bg.png);
    height: 100%;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 100%;
}

:host #back-btn {
  width: 165px;
    height: 107%;
    transform: skewX(326deg);
    bottom: -3px;
    position: absolute;
    left: -26px;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #2a447200, rgb(228 228 228 / 62%) ) 1 100%;
    border-bottom-width: 0;
    box-shadow: 3px -3px 5px 2px rgb(7 16 25 / 35%);
}

:host #back-btn:after {
  content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    height: 1px;
    width: 50%;
    border: 0;
    right: -1px;
    box-shadow: 21px -12px 39px 8px #1395ff;
    background-image: linear-gradient(270deg, #ffffffdb, #ffffff00);
}


:host .title-bar {
  height: 70px;
  min-height: 70px;
  background: linear-gradient(90deg, rgba(16,19,29,1) 0%, #223058 50%, rgba(16,19,29,1) 100%);
  box-shadow: 0px 1px 7px 1px rgb(7 16 25);
  border-bottom: 1px solid #ffffff12;
  position: relative;
  box-sizing: border-box;
  flex: none;
  border-image: radial-gradient(rgb(255 255 255 / 66%), rgb(255 255 255 / 0%)) 1;
  border-right-width: 2px;
  border-right-style: solid;
  border-left: 2px solid;
}

:host .content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

:host .content .col {
  flex: 1;
  padding-top: 10px;
}

:host .content .col#primary {
  min-width: 120px;
    width: 120px;
    max-width: 120px;
    flex: none;
    overflow-y: auto;
}
:host .content .col#secondary {
  flex: 2;
    justify-content: center;
    align-items: center;
}

:host .content .col#tertiary {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
#menu {
  height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: inherit;
    color: #d5ebf9;
    overflow-y: auto;
    background: linear-gradient(180deg, #1f2b4d, transparent);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-image: radial-gradient(rgb(255 255 255 / 66%), rgb(255 255 255 / 0%)) 1;
    border-right-width: 2px;
    border-right-style: solid;
    margin-left: 0px;
    height: 140%;
    min-height: 0;
    box-sizing: border-box;
}

#menu li {
  padding: 30px 20px 30px 20px;
  font-family: inherit;
  border-style: solid;
  border-bottom-width: 2px;
  border-right-width: 0;
  border-image: radial-gradient(rgb(255 255 255 / 22%), rgb(30 43 77 / 17%)) 1;
  border-left-width: 0;
  font-size: 17px;
  border-top-width: 0;
}

