:host {
    display: block;
    color: white;
    border-bottom: 1px solid #3a3a3a;
}


:host .title{
    padding: 16px;
    color: #919191;
    background:#333333;
}

:host #files{
    min-height: 200px;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    background:rgb(51, 51, 51);
}


:host .title .title-pane-icon {
    font-size: 14px;
    margin-left: 20px;
    margin-top: -4px;
    cursor:pointer;
}
:host .title .title-pane-icon:hover{
    color:white;
}

:host .title .icons-try{
    float:right;
}


:host ul[role="tree"] {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 120%;
}

:host [role="treeitem"] {
    color:#919191;
    font-size: 14px;
}

:host [role="treeitem"] .fa{
    margin-right:6px;
    min-width: 15px;
}

:host [role="treeitem"].doc .fa::before {
  content: "\f1c9";
}

:host [role="treeitem"] > ul {
  display: none;
}

:host [role="treeitem"].expanded > ul {
  display: block;
  padding-left:10px;
}

:host [role="treeitem"] > span .fa::before {
  content: "\f07b";
}

:host [role="treeitem"].expanded > span .fa::before {
  content: "\f07c";
  color:burlywood;
}

:host [role="treeitem"],
:host [role="treeitem"] span {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px transparent solid;
  display: block;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */
:host [role="treeitem"]:focus {
  outline: 0;
}

:host [role="treeitem"].focus,
:host [role="treeitem"] span.focus {
  border-color: black;
  background-color: #eee;
}

:host [role="treeitem"].hover,
:host [role="treeitem"] span:hover {
  /*background-color: #ddd;*/
}