html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing:border-box;
    font-family: "Quicksand", sans-serif;
}
.logo {
    background-image: url("/resources/img/Arc2D_logo.png");
    width: 72px !important;
    height: 72px !important;
    background-size: cover;
    padding: 0;
    position: relative;
    left: 30px;
    padding:0 !important;
}
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all .9s ease;
    transition: all .9s ease;
}
.nav.affix{
    height:85px;
}
.nav.affix div.logo{
    top:5px;
}
.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}
.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    width: inherit;
    height: inherit;
    display:inline-block;
}
.nav div.logo a:hover {
    color: #00E676;
}
.nav div.main_list {
    height: 65px;
    float: right;
}
.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}
.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.5rem;
    font-weight:400;
    transition: all .3s ease;
}
.nav div.main_list ul li a:hover {
    color: #0359A6;
}
.navTrigger {
    display: none;
}
.affix {
    padding: 0;
    background-color: #010101
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
        bottom:30px !important;
    }
    .nav{
        z-index: 1;
    }
    .nav div.logo {
        margin-left: 0px;
        top:-10px;
        width: 50px !important;
        height: 50px !important;
    }
    .nav.affix div.logo{
        top:10px;
    }
    .nav.affix .navTrigger{
        bottom:10px !important;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #010101;
        background-position: center;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}
.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
home-page .home {
    width: 100%;
    height: 100vh;
    background-image: url("/resources/img/mac-bg.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .7s ease;
}
about-page .about {
    width: 100%;
    height: 100vh;
    background-image: url("/resources/img/pc-laptop-bg.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
contact-page .contact {
    width: 100%;
    height: 100vh;
    background-image: url("/resources/img/laptop-bg.webp");
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#headerTxt {
    margin: auto;
    color: #fff;
}
.myH2 {
	text-align:center;
    font-size: 2.5rem;
    font-weight: 100;
}
.centerP{
    text-align:center;
    font-size: 1.5em;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

@-webkit-keyframes inM{50%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(45deg)}}@keyframes inM{50%{transform:rotate(0)}100%{transform:rotate(45deg)}}@-webkit-keyframes outM{50%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(45deg)}}@keyframes outM{50%{transform:rotate(0)}100%{transform:rotate(45deg)}}@-webkit-keyframes inT{0%{-webkit-transform:translateY(0) rotate(0)}50%{-webkit-transform:translateY(9px) rotate(0)}100%{-webkit-transform:translateY(9px) rotate(135deg)}}@keyframes inT{0%{transform:translateY(0) rotate(0)}50%{transform:translateY(9px) rotate(0)}100%{transform:translateY(9px) rotate(135deg)}}@-webkit-keyframes outT{0%{-webkit-transform:translateY(0) rotate(0)}50%{-webkit-transform:translateY(9px) rotate(0)}100%{-webkit-transform:translateY(9px) rotate(135deg)}}@keyframes outT{0%{transform:translateY(0) rotate(0)}50%{transform:translateY(9px) rotate(0)}100%{transform:translateY(9px) rotate(135deg)}}@-webkit-keyframes inBtm{0%{-webkit-transform:translateY(0) rotate(0)}50%{-webkit-transform:translateY(-9px) rotate(0)}100%{-webkit-transform:translateY(-9px) rotate(135deg)}}@keyframes inBtm{0%{transform:translateY(0) rotate(0)}50%{transform:translateY(-9px) rotate(0)}100%{transform:translateY(-9px) rotate(135deg)}}@-webkit-keyframes outBtm{0%{-webkit-transform:translateY(0) rotate(0)}50%{-webkit-transform:translateY(-9px) rotate(0)}100%{-webkit-transform:translateY(-9px) rotate(135deg)}}@keyframes outBtm{0%{transform:translateY(0) rotate(0)}50%{transform:translateY(-9px) rotate(0)}100%{transform:translateY(-9px) rotate(135deg)}}