.MoviesList{
    float: left;
}

.MoviesList th{
    min-width: 160px;
    text-align: left;
    font-weight: bold;
}

.MoviesList .del-button {
    background: #DC3545;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
}


.MoviesList tr:nth-child(even) {
    background-color: #f2f2f2
}