:host {
    display: inline-block;
    overflow: hidden;
    transform: translateZ(0px);
}

/* :host canvas {
    width:100%;
    height:100%;
    display: block;
} */


:host.style {
    background-image: url('/src/ui/components/Sonic/spritesheet.png');
}