<template>
	<div class="knob-surround">
  
		<div class="knob"></div>
		
		<span class="min">Min</span>
		<span class="max">Max</span>
		
		<div class="ticks">
		  <div class="tick activetick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		  <div class="tick"></div>
		</div>
		
	  </div>
</template>