<template>
    <div>


      <div id="splash" style="position: fixed;visibility: visible;opacity: 1;left: 0;transform-origin: center;display: flex;right: 0;top: 0;flex-direction: column;justify-content: center;align-items: center;z-index: 3000;bottom: 0;transition: all 1s;background: black;">
        <span class="fa fa-circle-o-notch fa-spin"
          style="color:white;font-size: 53px;display: block;transform-origin: center;"></span>
        <div id="spinner-loading-msg" style="color: white;margin-top: 20px;font-size: 10px;text-transform:uppercase;">Loading Simul8</div>
      </div>




      <div id="side-bar" class="sidebar collapsed">
        <div class="pane" style="width: 100%;padding: 1px;">
        </div>
        <div style="border-left: 1px solid #3a3a3a;padding: 1px;color: white;font-size: 21px;width: 61px;">
          <ul class="tool-tray" id="tool-tray" style="list-style: none;padding: 0;display: flex;margin: 0;flex-direction: column;">
          </ul>
          <i id="toggle-explorer-btn" title="Home" class="toolbar-icon fa fa-cogs" disabled="true" style="height: 32px;position: absolute;bottom: 0;"></i>
        </div>
      </div>
      


    <div id="controls">
      <i id="back" title="Go Back" class="toolbar-icon fa fa-caret-left" disabled="true"></i>
      <i id="forward" title="Go Forward" class="toolbar-icon fa fa-caret-right" disabled="true"></i>
      <!-- <i id="home" title="Home" class="toolbar-icon fa fa-home" disabled="true"></i> -->
      <span class="toolbar-icon" style="pointer-events: none;"><i id="reload" title="Reload" class="fa fa-chrome"
          style="transform-origin: center;"></i></span>

      <form id="location-form" onsubmit="return false;">
        <div id="center-column">
          <button id="go-live-btn"><i class="fa fa-circle"></i><label>LIVE</label></button>
          <input id="location" type="text" value="http://www.github.com/" style="background: transparent;border: 0;color: white;">
        </div>
        <i id="go" title="Submit" class="toolbar-icon fa fa-arrow-circle-right"></i>
      </form>
    </div>




    <div style="display: flex;margin-left: 55px;box-sizing: border-box;border: 0px solid red;position: absolute;bottom: 0;top: 48px;right: 0;left: 0;">
      <iframe id="browser" src="http://www.google.com" style="border: 7px solid aliceblue;width: 100%;"/>
      <!-- <webview id="devtools" src="about:blank"></webview> -->
    </div>
  </div>
</template>