html, body, .ComponentsExample {
    padding: 0;
    display: block;
    box-sizing:border-box;
    background:linear-gradient(45deg, rgba(244, 116, 59, 0.59) 0%, rgba(82, 170, 94, 0.6) 40%, rgba(18, 76, 166, 0.5) 100%);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

body {
    margin: 3rem;
}

.ComponentsExample #container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.ComponentsExample section.component {
    margin: 0 20px 20px 0;
    flex: 0 1 auto;
    width:992px;
    max-width: 992px;
    margin:25px;
}

.ComponentsExample h3,
.ComponentsExample p {
    color: #fff;
}

.ComponentsExample h3 {
    padding: 30px 0 8px;
    position: relative;
    z-index: 1;
}
  
.ComponentsExample h3::before {
    content: "";
    position: absolute;
    left: 125px;
    bottom: 4px;
    width: 250px;
    height: 14px;
    transform: skew(-24deg) translateX(-50%);
    background: linear-gradient(45deg, rgba(255, 135, 7, 0.26) 0%, rgba(82, 170, 94, 0.6) 40%, rgba(18, 76, 166, 0.5) 100%);
    z-index: -1;
}  

.ComponentsExample p {
    padding-bottom:15px;
    font-weight: 300;
    font-size: 14px;
}

.ComponentsExample section.component .a_links{
    font-weight: 400;
    color: #47ff21;
    text-decoration: none;
}

.ComponentsExample section.component code {
    color: #47ff21;
    font-weight: 600;
}

.ComponentsExample .contextmenu-container {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 300px;
    border: 2px solid #e3a869;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
}

.ComponentsExample .contextmenu-container h1,
.ComponentsExample .contextmenu-container h2{
    color:#fff;
}

@media only screen and (max-width:480px){
    html, body, .ComponentsExample {
        border-radius:0;
    }
    body {
        margin:0;
    }
}