html,body,man-docs,.wrapper{
	height:100%;
	padding:0;
	margin:0;
	font-family:Helvetica, Arial, sans-serif;
}


@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("src/docs/assets/fonts/JetBrainsMono-Regular.ttf");
}


man-docs .content {
	padding:13px 0;
}


man-docs nav.sidebar{
	width: 260px;
}

man-docs article.article .lang-selector{
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,.5);
}



man-docs .brand-logo{
    width: auto !important;
}
man-docs .brand-logo .logo {
    height: 44px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 30px;
    background-image: url("src/docs/assets/rhino-logo.png");
    font-size: 34px;
    padding-left: 95px;
    filter:invert(100%);
    width: auto;
    display: block;
    background-size: contain;
}

man-docs .brand-logo .logo > #frameworkname {
    letter-spacing: -2px;
    font-weight: bold;
    padding-top: 3px;
}


man-docs .brand-logo #frameworkcaption{
    width: 100%;
    display: block;
    font-size: 12px;
    line-height: 8px;
    text-align: left;
    padding-left: 3px;
    letter-spacing: 0px;
}


.content code,
.content pre code {
    font-family: JetBrainsMono-Regular !important;
    font-size:14px !important;
}


man-docs article .sidenote {
    padding: 20px;
    font-style: italic;
    background: slategray;
    color: white;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    clear: both;
}

nav.sidebar::after {
    height: 200px !important;
}


nav.sidebar {
    box-shadow: 2px 0 18px rgba(0,0,0,.3) !important;
}